html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  overflow: hidden;
}

.sidebar {
  background-color: #4A90E2;
  color: white;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar .step {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar .step .circle {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-weight: bold;
  color: black;
  font-size: 20px;
}

.sidebar .step.active .circle {
  background-color: #F69840;
  color: black;
}

.sidebar .step.finish .circle {
  background-color: #68FF60;
  color: black;
}

.sidebar .progress-bar {
  background-color: #FFFFFF;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.sidebar .progress-bar .progress {
  background-color: #68FF60;
  height: 100%;
  width: 0%; /* Thay đổi giá trị này để hiển thị tiến trình */
}

.main-content {
  background-color: #F8F0E5;
  padding: 40px;
  height: 100vh;
  overflow-y: auto;
  opacity: 0; /* Bắt đầu với opacity 0 */
  display: none;
  transform: translateX(20px); /* Dịch chuyển nhẹ sang phải */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Hiệu ứng chuyển đổi mượt */
}

.main-content.active {
  opacity: 1; /* Hiển thị đầy đủ */
  display: block;
  transform: translateX(0); /* Trở về vị trí ban đầu */
}

.form-control {
  border-radius: 0;
  margin-bottom: 15px;
}

.btn-next {
  background-color: #003087;
  color: white;
  border-radius: 0;
  padding: 10px 20px;
  float: right;
}

form .row .col-12 input {
  padding: 16px 18px;
}

form .row .col-12 input::placeholder{
  color: #9D9D9D;
}

select {
  border: none;
  outline: none; 
  appearance: none; 
  padding: 10px 14px;
}

select:focus {
  border: 1px solid rgb(77, 219, 244); 
}

/* Media query cho màn hình nhỏ */
@media (max-width: 1350px) {
  body, html {
    overflow: auto; 
  }
}

@media (max-width: 992px) {
  .sidebar, .main-content {
    height: auto;
  }

  .sidebar {
    padding: 20px;
  }

  .main-content {
    padding: 20px;
  }

  /* Ẩn các bước không có class active */
  .sidebar .step {
    display: none;
  }

  /* Chỉ hiển thị bước có class active */
  .sidebar .step.active {
    display: flex;
  }
}