.navbar input:focus {
  box-shadow: none !important;
  outline: none !important;
}

.search-button:hover {
  background-color: rgb(236, 236, 236);
}

.navbar-toggler {
  width: 40px; /* Đặt chiều rộng cố định */
  height: 40px; /* Đặt chiều cao cố định */
  display: flex; /* Đảm bảo căn giữa icon */
  align-items: center;
  justify-content: center;
  padding: 0; /* Tránh padding ảnh hưởng kích thước */
}

.navbar-toggler img {
  width: 20px; /* Đảm bảo icon có kích thước chuẩn */
  height: 20px;
}
