.temp-wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px 15px;
}

.temp {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 20px;
  height: 300px; /* hoặc min-height nếu muốn */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
}